.contactspacket{
    position: relative;
    margin: 0;
    padding: 0;
}
.contacts-information{
    background-image: url(/img/contactusFix.jpeg);
    height: 100vh;
    top: 4.6rem;
    width: 100vw;
    left: 0;
    margin-left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
