
section{
    position: relative;
}

.packetGT{
    position: relative;
    height: 100vh;
}

.sectionGT{
    top: 5.8rem;
    position: absolute;
    width: 100vw;
    /* background-color: blue; */
}

.sectionGT h1{
    font-size: 150px;
    font-family: "QuickSand" sans-serif;
    text-align: center;
}

.sectionGT p{
    font-size: 40px;
    text-align: center;
}

.secondsectionGT{
    top: 15.2rem;
    position:absolute;
    height: 50rem;
    width: 100vw;
    left: 0;
    background-image: url(/img/GTOne.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.thirdsectionGT{
    top: 65.2rem;
    left: 0;
    position:absolute;
    width: 100vw;
}

.sectionGT .thirdsectionGT .specifications h1{
    font-size: 100px;
    font-family: "QuickSand" sans-serif;
    text-align: center;
}

.sectionGT .thirdsectionGT .specifications hr{
    color: grey;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.footerGT{
    top: 129rem;
    left: 0;
    right: 0;
    position:absolute;
    width: 100vw;
}

@media (max-width: 1000px){
    .packetGT{
        width: 100vw;
        height: 200vh;
        position: relative;
    }

    .sectionGT .display-4{
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }


    .packetGT .sectionGT .secondsectionGT{
        top: 14rem;
        height: 17rem;
        width: 100vw;
        right: 0;
        position: absolute;
        
    }

    .sectionGT .thirdsectionGT{
        top: 47rem;
    }

    .sectionGT .footerGT{
        top: 90rem;
        position: absolute;
    }
}