
section{
    position: relative;
}

.packetGT{
    position: relative;
    height: 100vh;
}

.sectionGT{
    top: 5.8rem;
    position: absolute;
    width: 100vw;
    /* background-color: blue; */
}

.sectionGT h1{
    font-size: 150px;
    font-family: "QuickSand" sans-serif;
    text-align: center;
}

.sectionGT p{
    font-size: 40px;
    text-align: center;
}

.secondsectionGT{
    top: 15.2rem;
    position:absolute;
    height: 50rem;
    width: 100vw;
    left: 0;
    background-image: url(/img/GTOne.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.thirdsectionGT{
    top: 65.2rem;
    left: 0;
    position:absolute;
    width: 100vw;
}

.sectionGT .thirdsectionGT .specifications h1{
    font-size: 100px;
    font-family: "QuickSand" sans-serif;
    text-align: center;
}

.sectionGT .thirdsectionGT .specifications hr{
    color: grey;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.footerGT{
    top: 129rem;
    left: 0;
    right: 0;
    position:absolute;
    width: 100vw;
}

@media (max-width: 1000px){

    /* section{
        position: relative;
        width: 100vw;
        right: 0;
        margin-right: 0;
    } */

    .packetGT{
        width: 100vw;
        /* background-color: rgb(181, 181, 180); */
        height: 200vh;
        position: relative;
        margin-right: 0;
    }

    .sectionGT .display-4{
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }


    .packetGT .sectionGT .secondsectionGT{
        top: 14rem;
        height: 17rem;
        width: 100vw;
        right: 0;
        position: absolute;
        
    }

    .sectionGT .thirdsectionGT{
        top: 47rem;
    }

    .packetGT .sectionGT .footerGT{
        top: 90rem;
        position: relative;
    }

    .packetGT .footerGT .firstfootersection{
        width: 100vw;
    }

    .packetGT .footerGT .firstfootersection h2{
        font-size: 12px;
    }

    .packetGT .footerGT .firstfootersection p {
        font-size: 12px;
    }

    .packetGT .bodysectionWrapper .footerSection .firstfootersection{
        height: 15rem;
        width: 100vw;
        padding: 2.5em;
        position: relative;
        top: 11rem;
        right: 0;
        margin: 0;
        margin-left: 0;
        background-size: cover;
        background-position: center;
        background-image: url(/img/ryihomepageGTmobileversion.jpeg);
        /* display: none; */
    }

    .packetGT .footerGT .secondfootersection{
        width: 100%;
    }

    .packetGT .footerGT .secondfootersection ul li{
        /* color: pink; */
        font-size: 14px;
        padding: 1.3rem;
    }

    .packetGT .footerGT .secondfootersection-secondpart ul .followus {
        font-size: 15px;
    }
    .packetGT .footerGT .secondfootersection-secondpart ul li .instagram{
        height: 30px;
        width: 60px;
    }

    .packetGT .sectionGT .thirdsectionGT {
        top: 33rem;
    }

    .packetGT .sectionGT .thirdsectionGT .specifications h1{
        font-size: 20px;
    }

    .packetGT .sectionGT .thirdsectionGT .specifications p{
        font-size: 15px;
    }

    .packetGT .sectionGT .footerSection{
        bottom: 75rem;
    }
}