.packetlatestnews{
    height: 130vh;
    position: relative;
    background-color: black;
}

.ln-section-one .hrln{
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}
.ln-section-one{
    position: relative;
    top: 8rem;
    background-image: linear-gradient(black, rgb(61, 61, 61), black, black);
    height: 20rem;
    transition: height 2s;
}

.ln-section-one h1{
    color: white;
    font-family: "QuickSand" sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.ln-section-one h1:hover{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

.ln-section-one:hover{
    height: 30rem;
}


#intro  {transition-timing-function: ease-out;}

.ln-section-one p{
    color: white;
    font-family: "QuickSand" sans-serif;
    font-size: 20px;
    text-align: center;
}

.LatestNews{
    left: 0;
    right: 0;
    position:absolute;
    width: 100vw;
    height: 10rem;
    background-color: blanchedalmond;
}

.ln-section-two{
    position: relative;
}

.ln-section-two .card-title{
   color: black;
   font-weight: 700;
}

.ln-section-two p{
    color: black;
    font-weight: 600;
 }

 .ln-section-two a{
    color: grey;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
 }

 .ln-section-two a:hover{
    color: black;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
 }

.ln-section-two .rows{
    padding: 10px 20px 15px;
    margin-left: 8%;
}

@media (max-width: 1000px){
    .ln-section-one{
        position: relative;
        top: 8rem;
        background-image: linear-gradient(black, rgb(66, 51, 51), black, black);
        height: 20rem;
        transition: height 2s;
    }

    .ln-section-two .card{
        box-shadow: 0px 8px 16px 0px rgba(187, 176, 176, 0.603);
        padding: 1rem;
    }

    .packetlatestnews{
        height: 100vh;
        position: relative;
        background-color: black;
    }
}



/* box-shadow: 0px 8px 16px 0px rgba(250, 250, 250, 0.603); */