.packetlatestnews{
    height: 100vh;
    position: relative;
    background-color: black;
}

.ln-section-one .hrln{
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}
.ln-section-one{
    position: relative;
    top: 8rem;
    background-image: linear-gradient(black, rgb(48, 48, 48), rgb(59, 59, 1), black);
    height: 20rem;
    transition: height 2s;
}

.ln-section-one h1{
    color: white;
    font-family: "QuickSand" sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.ln-section-one h1:hover{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

.ln-section-one:hover{
    background-color: aqua;
    height: 30rem;
}


#intro  {transition-timing-function: ease-out;}

.ln-section-one p{
    color: white;
    font-family: "QuickSand" sans-serif;
    font-size: 20px;
    text-align: center;
}

.LatestNews{
    left: 0;
    right: 0;
    position:absolute;
    width: 100vw;
    height: 10rem;
    background-color: blanchedalmond;
}

.ln-section-two{
    position: relative;
}

.ln-section-two .rows{
    padding: 10px 20px 15px;
    margin-left: 8%;
}

