*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;  
    overflow-x: hidden;
}

section{
    position: relative;
}

.packet{
    height: 480vh;
    /* width: 100%; */
    position: relative;
    background-color: black;
}

.nav-container{
    background-color:  black;
    opacity: 0.8;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

.NavWrapper nav{
    margin: 0;
    padding: 0;
}

.NavWrapper nav ul {
    list-style: none;
    display: flex;
}

.NavWrapper nav ul li{
    top: .75rem;
    padding: 9px;
    list-style: none;
    position: relative;
    display: inline-block;
}

.NavWrapper nav ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.NavWrapper .BrandLogo{
    right: 0;
    background-image: url(/img/Logo.png);
    height: 40px;
    width: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.NavWrapper .dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    height: 25em;
    width: 100vw;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(250, 250, 250, 0.603);
}


.dropdown:hover .dropdown-content {
    display: block;
    top: 5em;
}
.NavWrapper .dropdown-content .dropdownimgGT{
    background-image: url(/img/GT.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    width: 490px;
    padding: q5rem;
}


/* .NavWrapper .dropdown .dropdown-content .BespokeModel{
    position: absolute;
} */

.NavWrapper .dropdown .dropdown-content .BespokeModel ul{
    display: flex;
    padding: 2.5rem;
}

.NavWrapper .dropdown .dropdown-content .BespokeModel ul li{
    padding: 5px 100px 20px 10px;
}

.NavWrapper .dropdown-content .BespokeModel ul .dropdownimgP1{
    background-image: url(/img/P1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    width: 400px;
}

.NavWrapper .dropdown-content .BespokeModel ul .dropdownimgbespoke1{
    background-image: url(/img/bespokeone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    width: 400px;
}

.NavWrapper .dropdown-content .BespokeModel ul .dropdownimgbespoke2{
    background-image: url(/img/bespoke3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 450px;
}

.NavWrapper .dropdown-content .SuperModel ul .dropdownimgbespoke2{
    background-image: url(/img/bespoke3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 400px;
}

.NavWrapper .dropdown-content .SuperModel ul .dropdownimgP1{
    background-image: url(/img/hypertwo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 380px;
}

.NavWrapper .dropdown-content .SuperModel ul .dropdownimgbespoke1{
    background-image: url(/img/hyper3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 380px;
}

.NavWrapper .dropdown-content .HyperModel ul .dropdownimgbespoke1{
    background-image: url(/img/McLaren-Speedtail-Albert-2021-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 299px;
    width: 409px;
}

.NavWrapper .dropdown-content .HyperModel ul .dropdownimgP1{
    background-image: url(/img/hypertwo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 400px;
}

.NavWrapper .dropdown-content .HyperModel ul .dropdownimgbespoke2{
    background-image: url(/img/McLaren-Elva-2021-6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 400px;
}


.HamburgerNav {
    right: 0;
    position: relative;
}

.HamburgerNav ul{
    display: flex;
}

.HamburgerNav .hamburger-navbar-links ul li{
    display: block;
}

.HamburgerNav .hamburger-navbar-links ul li a{
    color: white;
    margin-left: 8rem;
    cursor: pointer;
    right: 0;
    padding: 0;
}

.HamburgerNav .toggle-button{
    height: 45px;
    width: 65px;
    background-image: url(/img/hamburgermenu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: none;
    right: 0;
    top: .75rem;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .packet{ 
        height: 170vh;
        position: relative;
    }
    .HamburgerNav{
        opacity: 1;
        display: flex;
        left: 0;
        width: 100vw;
        position: absolute;
    }
    .HamburgerNav .toggle-button{
        display: flex;
    }

    .HamburgerNav .hamburger-navbar-links {
        display: none;
        width: 100vw;

    }

    .HamburgerNav nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .HamburgerNav .hamburger-navbar-links{
        background-color: rgb(5, 5, 5);
        position: absolute;
        left: 0;
    }

    .HamburgerNav .hamburger-navbar-links ul {
        width: 100vw;
        left: 0;
        height: 22rem;
        left: 0;
        flex-direction: column;
    }

    .HamburgerNav .hamburger-navbar-links li {
        top: 0.5rem;
        text-align: center;
    }

    .HamburgerNav .hamburger-navbar-links ul li a{
        padding: .3rem;
        text-align: center;
        color: white;
    }

    .HamburgerNav .hamburger-navbar-links ul li a:hover{
        color: white;
    }

    .hamburger-navbar-links.active{
        display: flex;
    }

    .NavWrapper .dropdown a{
        color: white;
        padding: 0px;
        font-size: 12px;
    }

    .NavWrapper .BrandLogo{
        height: 10px;
        width: 70px;
    }

    .HamburgerNav .toggle-button{
        height: 30px;
        width: 80px;
    }

    .NavWrapper .dropdown-content{
        position: absolute;
        min-width: 160px;
        height: 0.1em;
        width: 100vw;
        background-color: black;
        box-shadow: 0px 8px 16px 0px rgba(250, 250, 250, 0.603);
    }

    .NavWrapper .dropdown-content ul{
        height: 180px;
        width: 130px;
        flex-direction: column;
        display: flex;
    }

    .NavWrapper .dropdown-content .car{
        background-image: url(/img/GT.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 175px;
        width: 125px;
        padding: 5rem;
    }

    .NavWrapper .dropdown-content .cars ul .media-car{
        height: 75px;
        width: 185px;
        top: 0;
        padding: 1.5rem;
    }

    
    .NavWrapper .dropdown-content .cars ul .hyper{
        height: 135px;
        width: 350px;
        padding: 2rem;
    }

    .NavWrapper .dropdown .dropdown-content .cars ul{
        height: 10em;
        
    }
    .NavWrapper .dropdown .dropdown-content .cars ul li{
       flex-direction: column;
       height: 10em;
       width: 7.5em;
    }

    .NavWrapper .dropdown .dropdown-content .Supercars ul{
        display: block;
        height: 9em;
        right: 6rem;
        
    }
    .NavWrapper .dropdown .dropdown-content .Supercars ul li{
       height: 9em;
       right: 6rem;
    }

    .bodysection-firstsection{
        top: 0px;
    }

    .body-section .Home-Video{
        width: 100%;
    }
    
    .bodysection-firstsection .TextSection{
        top: 170px;
        bottom: 0;
        font-size: 30px;
    }
    
    .bodysection-firstsection .TextSection h1{
        font-family: "QuickSand" sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: white;
        text-shadow:2px 2px #383737;
        text-align: center;
    }
    .bodysection-firstsection .TextSection p{
        font-family: "QuickSand" sans-serif;
        font-size: 15px;
        color: white;
        font-weight: 900;
        width: 100%;
        padding: 10px;
        text-shadow:2px 2px #383737;
        text-align: center;
    }
    .bodysection-firstsection .Home-Video{
        top: 3rem;
        left: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        position: relative;
    }

    .bodysection-firstsection .body-section .overlay{
        top: 3rem;
    }


    .bodysectionWrapper .bodysection-secondsection{
        top: 3rem;
        bottom: 0rem;
        background-image: linear-gradient(black, white);
        border-style: none;
        height: 28rem;
        /* height: 70rem; */
    }

    .bodysectionWrapper .bodysection-secondsection .one{
        font-size: 10px;
    }

    .bodysectionWrapper .bodysection-secondsection p{
        font-size: 13px;
    }
    
    .bodysectionWrapper .bodysection-secondsectiontwin{
        background-image: linear-gradient(white, rgb(166, 166, 166), rgb(136, 136, 124), black);
        border-style: none;
        padding: 0;
        height: 13rem;
    }

    .bodysectionWrapper .bodysection-secondsectiontwin .secondsectionimgtwo{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 13rem;
        background-color: black;
        position: absolute;
    }

    .bodysectionWrapper .bodysection-secondsectiontwin .section-two-text-p{
        font-size: 10px;
        text-align: center;
        color: black;
        font-weight: 700;
    }

    .bodysectionWrapper .bodysection-secondsectiontwin .section-two-text-h1{
        font-size: 10px;
        text-align: center;
        color: black;
        font-weight: 700;
    }

    .bodysectionWrapper .bodysection-secondsectiontwin .secondsectionimgtwo{
        opacity: 0.45;
    }

    .bodysectionWrapper .footerSection{
        height: 30rem;
        background-color: rgb(0, 96, 128);
        position: absolute;
        margin-bottom: 90rem;
        
    }

    .packet .bodysectionWrapper .footerSection .firstfootersection{
        height: 14rem;
        width: 100vw;
        padding: 5em;
        position: relative;
        background-size: cover;
        background-position: center;
        bottom: 59rem;
        /* display: none; */
    }


    .bodysectionWrapper .footerSection .firstfootersection h2{
        font-size: 14px;
        padding: 1em;
        color:  white;
    }

    .bodysectionWrapper .footerSection .firstfootersection p{
        font-size: 10px;
    }

    .packet .bodysectionWrapper .footerSection .secondfootersection ul li{
        font-size: 10px;
        color: yellow;
        list-style: none;
        padding: 0.5em;
        display: block;
    }
}

/* Stop Editing */

.bodysection-firstsection{
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    position: relative;
}

.bodysection-firstsection .body-section{
    position: relative;
    padding: 0;
}


.Home-Video {
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 1; 
    opacity: 0.55;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
 
}

.TextSection {
    position: absolute;
    bottom: 200px;
    width: 100%;
    z-index: 2;
}

.TextSection h1{
    font-family: "QuickSand" sans-serif;
    font-size: 41px;
    font-weight: 200;
    color: white;
}

.TextSection p{
    font-family: "QuickSand" sans-serif;
    font-size: 114px;
    color: white;
    font-weight: 200;
    width: 850px;
}

.bodysectionWrapper{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
    top: 30;
}

.bodysection-secondsection {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 61rem;
    left: 0px;
    /* top: 71.20rem; */
    position: relative;     
}

.bodysection-secondsection ul {
    display: flex;
}

.bodysection-secondsection ul li {
    margin-top: 30px;
    display: block;
    padding: 10px;
    list-style: none;
}

.bodysection-secondsection .one{
    font-size: 52px;
    color: white;
}

.bodysection-secondsection p{
    font-size: 25px;
    color: white;
}

.bodysection-secondsection .secondsectionimg{
    background-image: url(/img/kindpng_3838228.png);
    height: 38em;
    width: 100%;
    bottom: 250px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bodysection-secondsectiontwin{
    background-color: black;
    height: 50rem;
    position: absolute;
}

.bodysection-secondsectiontwin ul {
    display: flex;
}

.bodysection-secondsectiontwin .secondsectionimgtwo{
    background-image: url(/img/Mclaren-PNG-Photo-Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    height: 38rem;
}

.bodysectionWrapper .bodysection-secondsectiontwin  p{
    padding: 10px;
    color: white;
    font-size: 27px;
}

.bodysectionWrapper  .bodysection-secondsectiontwin h1{
    font-size: 90px;
    color: white;
    padding: 50px;
}

.bodysectionWrapper .footerSection{
    /* background-color: white; */
    position: relative;
    top: 85em;
}

.bodysectionWrapper .footerSection .firstfootersection{
    height: 39rem;
    padding: 12em;
    width: 100vw;
    right: 0;
    left: 0;
    position: absolute;
    background-image: url(/img/footersection.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bodysectionWrapper .footerSection h2{
    color: white;
    font-family: "QuickSand" sans-serif;
    font-size: 85px;
}

.bodysectionWrapper .footerSection p{
    color: white;
    font-family: "QuickSand" sans-serif;
    font-size: 40px;
}

.bodysectionWrapper .footerSection button{
    color: black;
    border-radius: 10px;
    height: 2.5em;
    width: 5em;
} 

.bodysectionWrapper .footerSection .secondfootersection{
    padding: 6em;
    background-color: black;
    position: absolute;
    top: 35em;
    height: 55em;
    width: 100%;
}

.bodysectionWrapper .footerSection .secondfootersection-secondpart{
    background-image: linear-gradient(black, rgb(61, 61, 61), black, black);
}


.bodysectionWrapper .footerSection .secondfootersection ul{
    padding: 1em;
}

.bodysectionWrapper .footerSection .secondfootersection ul li{
    color: white;
    font-size: 29px;
    list-style: none;
    padding: 0.5em;
}

.bodysectionWrapper .footerSection .secondfootersection-secondpart ul .followus{
    color: white;
    font-size: 42px;
    padding: 0.5em;
}

.bodysectionWrapper .footerSection .secondfootersection-secondpart ul .Instagram{
    background-image: url(/img/instagram.png);
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bodysectionWrapper .footerSection .secondfootersection-secondpart ul .Facebook{
    background-image: url(/img/facebook.png);
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bodysectionWrapper .footerSection .secondfootersection-secondpart ul .Whatsapp{
    background-image: url(/img/whatsapp.png);
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


